<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>首页 -社区</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <script src="/js/jQuery1.12.4.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-theme.css">
  <link rel="stylesheet" href="css/index.css">
  <script>
  window.onload = function () {
    let closable = localStorage.getItem('closable')
    if (closable) {
      localStorage.removeItem('closable')
      window.close()
    }
  }
  </script>
</head>
<body>
<div th:replace="~{nav.html :: navBar}"></div>
<!--<div th:if="${session.user != null}">-->
<!--<p th:text="'Hello, ' + ${session.user.getName()} + '!'"/>-->
<!--</div>-->
<!--<div th:if="${session.user == null}">-->
<!--<p>Hello, 请登录</p>-->
<!--</div>-->
<div class="container-fluid main">
  <div class="row">
    <div class="col-lg-9 col-md-12 col-xs-12 col-sm-12">
      <div class="page-header">
        <h3 class="h3">
          发现
        </h3>
      </div>
      <div class="media" th:each="question: ${questionPageDTO.data}">
        <div class="media-left">
          <a th:href="'profile/question/'+${question.getId()}">
            <img class="media-object avatar" th:src="${question.user.avatarUrl}">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">
            <a th:href="@{'question/'+${question.id}}" th:text="${question.title}"></a>
          </h4>
          <span class="text-desc">
           <span th:text="${question.getCommentCount()}"></span>个回复  &nbsp;&nbsp;&nbsp;&nbsp;
           <span th:text="${question.getLikeCount()}"></span>个关注  &nbsp;&nbsp;&nbsp;&nbsp;
           <span th:text="${question.getViewCount()}"></span>个浏览  &nbsp;&nbsp;&nbsp;&nbsp;
           <span th:text="${#dates.format(question.getGmtCreate(), 'yyyy-MM-dd HH:mm:ss')}"></span>发布
          </span>
        </div>
      </div>
      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li>
            <a th:href="@{${search != null ? '?search='+ search+'&': '?'} + 'page=1' + '&size='+${questionPageDTO.size}}"
               aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <!--<li class="active" th:each="page: questionPageDTO.totalPage" >-->
          <li th:each="page: ${#numbers.sequence(1, questionPageDTO.totalPage)}"
              th:class="${page == questionPageDTO.page ? 'active' : ''}">
            <a th:text="${page}"
               th:href="@{${search != null ? '?search='+ search+'&': '?'} + 'page='+${page} + '&size='+${questionPageDTO.size}}"></a>
          </li>
          <!--<li th:each="page: ${questionPageDTO.totalPage}">-->
          <!--<span th:text="${page}"></span>-->
          <!--&lt;!&ndash;<a th:href="@{'/?search+'${search}'&page='${page}'&size=5'}"></a>&ndash;&gt;-->
          <!--</li>-->
          <li>
            <a th:href="@{${search != null ? '?search='+ search+'&': '?'} + 'page='+${questionPageDTO.totalPage} + '&size='+${questionPageDTO.size}}"
               aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-lg-3 col-md-12 col-xs-12 col-sm-12">
      <div class="page-header">
        <h3 class="h3">热门话题</h3>
      </div>
      <div>
        <ul class="list-group">
          <li class="list-group-item" th:each="hotItmem, stat: ${questionHotList}">
            <a th:href="@{'question/'+${hotItmem.id}}"
               th:text="${hotItmem.title}">
            </a>
            <span class="badge" th:text="${stat.count}"></span>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
</body>
</html>
